

<header id="header-background">
  <div class="logo"></div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <img src="https://vignette.wikia.nocookie.net/logopedia/images/7/7f/Citi.png/revision/latest?cb=20120525233202" style="height: 35px;">
      <li class="nav-item">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/credit">Credit Card</a>
          <a class="dropdown-item" href="#">Checking Account</a>
          <a class="dropdown-item" href="#">Mortgage</a>
        </div>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="title">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
         <h1 class="welcom-title">Welcome! Let's apply for your account.</h1>
        <h3 class="product-title">This product is only available online for US citizens. If you are not a US citizen, <u>visit a branch.</u> </h3> 
        <div class="dropdown"><br>
            <button class="dropbtn">Account Type</button>
            <div class="dropdown-content">
              <a routerLink="/credit">Credit Card</a>
              <a href="#">Checking Account</a>
              <a href="#">Mortgage</a>
            </div>
          </div>
        </div>
      </div>
   
</div>